<html>
<head>
   <title>res.render() Demo</title>
</head>
<body>
   <h2>Welcome to the Fighting Game Profile database</h2>
   <p style="text-align:center">This API exists so to be able to extract frame data for various fighting game characters</p>
   <p style="text-align:center;"><img src="FGC.jpg" alt="Title"></p>
</body>
</html>