<html>  
<body>  
<form action="http://127.0.0.1:8000/process_post" method="POST">  
Character: <input type="text" name="charname">  <br>  
Game: <input type="text" name="game">  
Special Moves: <input type="number" name = "spcl">
Normal Moves: <input type="number" name = "nrml">
Fastest Special: <input type="number" name = "fspc">
Slowest Special: <input type="number" name = "sspc">
Fastest Normal: <input type="number" name = "fnrm">
Slowest Normal: <input type="number" name = "snrm">
<input type="submit" value="Submit">  
</form>  
</body>  
</html>  